.pg-about {
  padding-top: 0 !important;
}

.about-launch {
  margin-top: 3rem;
  .img-box {
    border: 5px solid #ffc564;
    margin: 0 auto;
    @include square(120px);
    border-radius: 50%;
    overflow: hidden;
    background-color: #0f0f0f;
    text-align: center;
    transition: transform .3s;
    transform: scale(1);
    &:hover {
      transform: scale(1.1);
      box-shadow: 0 15px 35px rgba(50, 50, 93, 0.2), 0 5px 15px rgba(0, 0, 0, 0.1);
      .i-result {
        animation-name: fadeInUpBig;
        animation-iteration-count: 1;
        animation-duration: 0.3s;
        animation-fill-mode: forwards;
      }
    }
    & > img {
      width: 100%;
    }
    &.txt-box {
      color: #fff;
      padding-top: 32px;
    }
    .i-result {
      display: inline-block;
      margin-top: 0.3em;
      opacity: 0;
      font-size: 1.25em;
    }
  }
}

.about-launch-desc {
  & > dt {
    text-align: center;
    margin-bottom: 3rem;
  }
}

.about-launch-more {
  margin-top: 5rem;
  text-align: center;
}

.btn-more-launch {
  display: inline-block;
  padding: 1rem 2rem;
  margin: 0 auto;
  border-radius: 3px;
  @include ghostBtn(transparent, $main_color_green);
}

@include mq-desktop {

}

@include mq-tab {

}