
$pad: 112px;

.vuetiful-third {
  margin-bottom: 7rem;
  & > dt {
    line-height: 1.4;
    font-weight: bold;
    font-size: 1rem;
    letter-spacing: 5px;
    padding-left: 2em;
  }
  & > dd {
    text-align: center;
    margin: 1rem 0 3rem;
    font-size: 2rem;
    letter-spacing: 0.25em;
    &::before {
      margin-right: 0.5em;
    }
  }
  .tgg-location {
    color: $main_color_green;
    font-size: 0.6em;
    border-bottom: 1px solid $main_color_green;
    &::before {
      padding-right: 5px;
    }
  }
}
.vuetiful-history {
  font-size: 1rem;
  margin: 5rem auto 0;
  max-width: 700px;
  & > li {
    float: left;
    width: 50%;
  }
}
.vuetiful-location {
  max-width: 600px;
  height: 300px;
  margin: 10px auto 0;
}
.vuetiful-schedule {
  display: inline-block;
  width: 80%;
  max-width: 400px;
  & > dl {
    padding: 5px;
    font-size: 0.5em;
    text-align: left;
    letter-spacing:  1px;
    border-bottom: 1px dotted #3a5169;
    dt {
      float: left;
      font-weight: bold;
    }
    dd {
      margin-left: 8em;
    }
  }
}
.vuetiful-desc {
  margin-top: 30px;
  $pad: 10px;
  & > dt {
    float: left;
    clear: both;
    padding: #{$pad} 5px;
  }
  & > dd {
    padding: #{$pad} 0 #{$pad} 120px;
    border-bottom: 1px dotted #444;
  }
}

.presenter-list {
  & > li {
    display: inline-block;
    vertical-align: top;
    margin: 0 3px;
    line-height: 0;
    & > img {
      vertical-align: top;
      box-shadow: 0 0 0px 1px rgba(0,0,0,0.08);
      border-radius: 50%;
      @include square(36px);
    }
  }
}

.blog-list {
  margin: 0 -2rem;
  & > li{
    @include li-icons(2, 68px, '.blog-list-icon::before');
  }
  & + .blog-list {
    &>li:nth-child(1) .blog-list-icon::before {
      background-position-x: -136px;
    }
    &>li:nth-child(2) .blog-list-icon::before {
      background-position-x: -204px;
    }
  }
}

.blog-list-icon {
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -1 * $pad/2;
  width: $pad;
  height: $pad;
  vertical-align: middle;
  display: block;
  padding: 22px;
  background-color: #193a6d;
  border-radius: 50%;

  &::before {
    content: ' ';
    @include square(68px);
    display: block;
    margin: 0 auto;
    background: url('/vue/assets/img/bgs/icon_blog.png') 0 0 no-repeat;
  }
}

.location-notice {
  letter-spacing: 0;
  padding: 0.5rem 0.5rem;
  font-weight: bold;
}
.sponsor-list {
  text-align: center;
}
.sponsor-item {
  border-radius: 5px;
  display: inline-block;
  & > a {
    display: block;
    width: 200px; height: 50px;
  }
  &:nth-child(1) {
    background: #000 url('/vue/assets/img/coinone_logo_white_main.svg') center center no-repeat;
    background-size: 80% auto;
  }
}

@include mq-desktop {

  .app-page.pg-blog {
    padding-top: 0;
  }
}

@include mq-tab {
}

