
$pad: 112px;

.blog-list {
  margin: 0 -2rem;
  & > li{
    @include li-icons(2, 68px, '.blog-list-icon::before');
  }
  & + .blog-list {
    &>li:nth-child(1) .blog-list-icon::before {
      background-position-x: -136px;
    }
    &>li:nth-child(2) .blog-list-icon::before {
      background-position-x: -204px;
    }
  }
}

.blog-list-icon {
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -1 * $pad/2;
  width: $pad;
  height: $pad;
  vertical-align: middle;
  display: block;
  padding: 22px;
  background-color: #193a6d;
  border-radius: 50%;

  &::before {
    content: ' ';
    @include square(68px);
    display: block;
    margin: 0 auto;
    background: url('/assets/img/bgs/icon_blog.png') 0 0 no-repeat;
  }
}


@include mq-desktop {
  .pg-blog .pg-inner-body {
    margin-top: 90px;
    margin-bottom: 75px;
  }

  .blog-list > li {
    display: table-cell;
    width: 50%;
    padding: 23px 2rem;
    vertical-align: middle;

    & > dl {
      padding-left: $pad + 50px;
      position: relative;
      min-height: $pad;
    }

  }

  .blog-list-item {
    display: table-cell;
    vertical-align: middle;
    .pg-desc {text-align: left;}
  }

  .blog-list-item dt {
    font-weight: 600;
    line-height: 1em;
    margin-bottom: 1em;
  }


}

@include mq-tab {
  .blog-list > li {
    padding: #{$pad + 30px} 2rem 40px;
    text-align: center;
    position: relative;
  }
  .blog-list-icon {
    top: 0;
    left: 50%;
    margin: 0 0 0 #{$pad/-2};
  }
  .blog-list-item dt {
    font-weight: 600;
    line-height: 1em;
    font-size: 1.25rem;
    margin-bottom: -10px;
  }
}

