
$pad: 112px;

.vuetiful-third {
  margin-bottom: 7rem;
  & > dt {
    line-height: 1.4;
    font-weight: bold;
    font-size: 1rem;
    letter-spacing: 5px;
  }
  & > dd {
    text-align: center;
    margin: 1rem 0 3rem;
    font-size: 2rem;
    letter-spacing: 0.25em;
  }
}
.vuetiful-history {
  font-size: 1rem;
  margin: 5rem auto 0;
  max-width: 700px;
  & > li {
    float: left;
    width: 50%;
  }
}

.vuetiful-desc {
  margin-top: 30px;
  $pad: 10px;
  & > dt {
    float: left;
    clear: both;
    padding: #{$pad} 5px;
  }
  & > dd {
    padding: #{$pad} 0 #{$pad} 120px;
    border-bottom: 1px dotted #444;
  }
}

.presenter-list {
  & > li {
    display: inline-block;
    vertical-align: top;
    margin: 0 3px;
    line-height: 0;
    & > img {
      vertical-align: top;
      box-shadow: 0 0 0px 1px rgba(0,0,0,0.08);
      border-radius: 50%;
      @include square(36px);
    }
  }
}

.blog-list {
  margin: 0 -2rem;
  & > li{
    @include li-icons(2, 68px, '.blog-list-icon::before');
  }
  & + .blog-list {
    &>li:nth-child(1) .blog-list-icon::before {
      background-position-x: -136px;
    }
    &>li:nth-child(2) .blog-list-icon::before {
      background-position-x: -204px;
    }
  }
}

.blog-list-icon {
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -1 * $pad/2;
  width: $pad;
  height: $pad;
  vertical-align: middle;
  display: block;
  padding: 22px;
  background-color: #193a6d;
  border-radius: 50%;

  &::before {
    content: ' ';
    @include square(68px);
    display: block;
    margin: 0 auto;
    background: url('/assets/img/bgs/icon_blog.png') 0 0 no-repeat;
  }
}


@include mq-desktop {

  .app-page.pg-blog {
    padding-top: 0;
  }
}

@include mq-tab {
}

