$gnb_menu_color: #cecece;
$gnb_menu_active_color: #48b5f9;
$gnb_menu_height: 40px;
$gnb_width: 200px;

/*gnb*/
@include mq-desktop {

  $menu_color: #cecece;
  $menu_active_color: #48b5f9;
  $menu_height: 50px;
  $menu_collapse_height: 9px;

  .gnb {
    position: absolute;
    right: 0;
    left: 150px;
    top: 0;
    z-index: 100;
    .gnb-nav {
      float: right;
      margin-right: 20px;
    }

    /*scroll-menu*/
    .scroll-menu > li {
      float: left;
      font-size: 0.75rem;
    }

    .scroll-menu-item {
      text-align: left;
      display: block;
      margin-right: 0;
      color: rgb(213, 213, 213);
      padding: 0 15px;
      line-height: $app_header_height;
      border-top-right-radius: 5px;
      border-top-left-radius: 5px;
      font-weight: bold;
      letter-spacing: 1px;
      text-transform: uppercase;
      /*transform: rotate(20deg) translateX(1rem);*/

      //@for $i from 1 through 6 {
      //  &.n-#{$i}.is-active {
      //    color: nth($pg_color, $i);
      //    &::after {
      //      background-color: nth($pg_color, $i);
      //    }
      //  }
      //}
      &.is-active {
        color: $main_color_green;
        &::after {
          content: ' ';
          background-color: $main_color_green;
          display: block;
          margin-top: -3px;
          height: 3px;
          animation-name: fadeInRight;
          animation-duration: .5s;
        }
      }
    }

  }
  .fadeInLeftBig {
    animation-name: fadeInLeftBig;
  }

  @keyframes fadeInRight {
    0% {
      opacity: 0.3;
      transform: translate3d(-100%, 0, 0);
    }

    100% {
      opacity: 1;
      transform: none;
    }
  }
}

@include mq-tab {

  $gnb_mb_width: 350px;
  .gnb {
    width: $gnb_mb_width;
    top: 0;
    padding: #{$app_header_mobile_height} 0;
    bottom: 0;
    position: fixed;
    right: -1*$gnb_mb_width;
    background-color: rgba($main_color_dark, 0.8);
    z-index: 100;
    overflow-y: hidden;
    transition: right .4s;
    &.is-open {
      right: 0;
    }
  }

  .btn-gnb-toggle {
    $btn_size: 36px;
    $btn_icon_size: 30px;
    $btn_pad: ( $btn_size - $btn_icon_size ) / 2;
    outline: none;
    position: fixed;
    top: ($app_header_mobile_height - $btn_size)/ 2;
    right: 20px;
    padding: $btn_pad;
    @include square($btn_size);
    display: block;
    font-size: 30px;
    z-index: 2;
      .bar {
      $bar_height: 4px;
      display: block;
      position: absolute;
      height: $bar_height;
      width: $btn_icon_size;
      background: $main_color_green;
      border-radius: 9px;
      opacity: 1;
      left: $btn_pad;
      transform: rotate(0deg);
      -webkit-transition: .25s ease-in-out;
      &:nth-child(1) {
        top: $btn_pad;
      }

      &:nth-child(2) {
        top: ($btn_size - $bar_height) / 2;
      }

      &:nth-child(3) {
        top: $btn_size - $bar_height -$btn_pad;
      }
    }
    &.is-open {
      .bar {
        &:nth-child(1) {
          top: 18px;
          transform: rotate(135deg);
        }
        &:nth-child(2) {
          opacity: 0;
          left: -60px;
        }
        &:nth-child(3) {
          top: 18px;
          -webkit-transform: rotate(-135deg);
        }
      }
    }
  }

  .gnb-nav {
    position: relative;
    padding: 10px 0;
    font-size: 1.25rem;
    color: rgba(255, 255, 255, 0.5);
  }

  .gnb-menu > li:nth-child(1) {
    display: none;
  }

  .gnb-nav .scroll-menu-item {
    display: block;
    padding: 16px 32px;
  }
}
