/*home*/
.pg-home {
  position: fixed;
  width: 100%;
  height: 100vh;
  .pg-align {
    height: inherit;
    background-color: transparent !important;
    box-shadow: none;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.client.is-fixed .pg-home {
  .pg-align{
    visibility: hidden;
  }
  background: url('/assets/img/vue-optimized.png') center center no-repeat;
  background-size: contain;
  opacity: 0.5

}
.home-visual {
  position: absolute;
  top: 0;
  left: -10%;
  width: 120%;
  height: 100%;
}

.pg-home-title {
  position: relative;
  line-height: 1.15em;
  color: #efaf4d;
  text-align: center;
  letter-spacing: -5px;
  padding: 4rem 0 0;
  text-shadow: 0 3px 10px rgba(0, 0, 0, 0.6);
  width: 100%;
  img {
    width: 100%;
    max-width: 1025px;
  }
}

.pg-home-desc {
  font-size: 1.25rem;
  color: rgba(53, 73, 94, 0.8);
  text-align: center;
  margin-bottom: 20px;
  line-height: 2;
  width: 100%;
}

/*home*/
@include mq-desktop {

  .pg-home {
    .pg-align {
      padding-top: 8vh;
    }
  }
  .pg-home-desc {
    font-weight: bold;
  }

}

@include mq-tab {

  .pg-home .pg-align {
    padding-top: 70px;
  }
  .auto-section:nth-child(1) {
    min-height: 100vh !important;
  }
  .pg-home-title {
    font-size: 13vw;
    letter-spacing: -1px;
    font-weight: 500;
    padding: 3rem 0;
    @include mq-mobile {
      .pg-home-title {
        font-size: mb-rem(90);
      }
    }

    &::before {
      height: 2.5rem;
    }

    &::after {
      height: 2.5rem;
    }
  }
  .btn-autoscroll-down {
    width: 60px;
    height: 30px;
    margin-left: -30px;
  }

}


