@include mq-desktop {
  .pg-skills .pg-inner-body {
    position: relative;
  }
  .activity-desc {
    position: absolute;
    right: 55%;
    bottom: 10px;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid #f87c56;
    width: 44%;
    line-height: 2;
    margin-top: 10px;
  }
}

@include mq-tab {
  .activity-list > li {
    width: 50%;
  }
  .activity-list-item  > a {
    margin-top: 0 !important
  }
}

