.community-list {
  padding: 0 2rem;
  svg {
    max-width: 120px;
    width: 10vw;
  }
  & > li {
    display: flex;
    width: 100%;
    border-bottom: 1px solid #eee;
    align-items: center;
    justify-content: space-between;
    & + li {
    }
  }
  .community-people-num {
    color: #459db2;
     & + span {
       color: #587c9a;
     }
  }
}

@mixin community_num (){
  text-align: right;
  padding-left: 1em;
  letter-spacing: 0.2em;
}

@include mq-desktop {
  .community-size {
    @include  community_num();
    font-size: 2rem;
  }
}

@include mq-tab {
  .community-size {
    @include  community_num();
    font-size: 6vw;
  }
}






