.community-list {
  max-width: 400px;
  margin: 0 auto;
  svg {
    width: 120px;
  }
  & > li {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    & + li {
      margin-top: 2rem;
    }
  }
}

.community-kind {
}

.community-num {
  min-width: 200px;
  text-align: right;
  font-size: 3.5rem;
  letter-spacing: 0.2em;
}

@include mq-desktop {
  .community-list {
  }
}

@include mq-tab {
}






