html:lang(ko) {
  word-break: keep-all;
}

.app-pad {
  max-width: 1140px;
  padding: 0 #{$app_padding};
  margin: 0 auto;
  position: relative;
}

.app-header {
  position: fixed;
  height: $app_header_height;
  z-index: 100;
  width: 100%;

  &::after {
    content: ' ';
    position: absolute;
    left: 0;
    bottom: 0px;
    display: block;
    width: 1px;
    border-bottom: 1px solid rgba(0, 0, 0, 0);
  }
}
.app-logo {
  margin:5px 0 0 10px;
  float: left;
  opacity: 0;
  transform: translateX(-20px);
  transition: opacity .3s ease-in-out, transform .3s ease-in-out;
  font-size: 1.5rem;
  line-height: 1;
  color: $main_color_dark;
  img {
    height: $app_header_height - 10px;
  }
}


.client.is-fixed {
  .app-logo {
    opacity: 1;
    transform: translateX(0px);
  }
  .app-header {
    background-color: rgba(255, 255, 255, 0.9);

    &::after {
      width: 100%;
      transition: width 0.5s linear;
      border-color: rgba(0, 0, 0, 0.08);
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    }
  }
}

@mixin pg_align() {
  position: relative;
  background-color: #fff;
  box-shadow: 0 15px 35px rgba(50,50,93,.07), 0 5px 15px rgba(0,0,0,.1), inset 0 10px 20px rgba(0,0,0,.05);
}

@mixin pg_title () {
  text-align: center;
  color: #000;
  &::after {
    content: ' ';
    background: linear-gradient(90deg, $main_color_green 0%, $main_color_dark 100%);
    width: 7rem;
    margin: 1rem auto 4rem;
    display: block;
    height: 3px;
  }
}
.auto-section .app-page {
  width: 100%;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

@include mq-desktop {

  .pg-align {
    @include pg_align();
    padding: 12vh 3rem 10vh;
  }
  .pg-title {
    @include pg_title();
    line-height: 1.2;
    font-size: 3rem;
  }

  .pg-summary {
    display: block;
    font-size: 1.250rem;
    text-align: center;
    width: 80%;
    color: $main_color_dark;
    margin: 2rem auto 0;
  }

  .pg-desc {
    color: #696d6f;
    font-size: 0.938rem;
    margin-top: 2rem;
    line-height: 1.8;
    text-align: center;
  }

  .pg-title + .pg-desc {
    margin-top: 4rem;
  }

  .pg-desc-left {
    color: #696d6f;
    font-size: 0.938rem;
    margin-top: 2rem;
    line-height: 1.8;
    text-align: left;
  }

  .pg-inner-body {
    margin-top: 5rem;
  }

  .pg-inner-title {
    color: #282e31;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 2rem;
  }
  .btn-box {
    margin-bottom: -30px;
  }

}

@include mq-tab {
  html {
    font-size: 15px;
  }
  .app-header {
    height: 70px
  }
  .app-logo img {
    height: 40px;
  }
  .m-br {
    display: block
  }
  .pg-align {
    @include pg_align();
    padding: 4rem 2rem 3rem;
  }
  .app-pad {
    padding: 0 #{$app_mobile_padding};
  }

  .pg-title {
    @include pg_title();
    font-size: mb-rem(50);
    line-height: 1;
  }

  .pg-summary {
    display: block;
    font-size:  mb-rem(28);
    text-align: center;
    margin: 20px auto 0;
  }

  .pg-desc {
    color: #696d6f;
    font-size: mb-rem(26);
    margin-top: 20px;
    line-height: 1.8;
    text-align: center;
  }

  .pg-inner-body {
    margin-top: 34px;
  }

  .pg-inner-title {
    color: #282e31;
    font-size: mb-rem(30);
    font-weight: bold;
    margin-bottom: 16px;
  }
  .btn-box {
    margin-bottom: -30px;
  }

}
