html:lang(ko) {
  word-break: keep-all;

}

.app-pad {
  padding: 0 #{$app_padding};
  position: relative;
}

.app-header {
  position: fixed;
  height: $app_header_height;
  z-index: 100;
  width: 100%;

  &::after {
    content: ' ';
    position: absolute;
    left: 0;
    bottom: 0px;
    display: block;
    width: 1px;
    border-bottom: 1px solid rgba(0, 0, 0, 0);
  }
}
.app-logo {
  margin:5px 0 0 10px;
  float: left;
  opacity: 0;
  transform: translateX(-20px);
  transition: opacity .3s ease-in-out, transform .3s ease-in-out;
  font-size: 1.5rem;
  line-height: 1;
  color: $main_color_dark;
  img {
    height: $app_header_height - 10px;
  }
  span {
    vertical-align: bottom;
  }
}


.client.is-fixed {
  .app-logo {
    opacity: 1;
    transform: translateX(0px);
  }
  .app-header {
    background-color: rgba(255, 255, 255, 0.9);

    &::after {
      width: 100%;
      transition: width 0.5s linear;
      border-color: rgba(0, 0, 0, 0.08);
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    }
  }
}

.app-content {
  overflow-x: hidden;
}

.app-footer {
  background-color: #6cbf95;
  font-size: 0.875rem;
  text-align: center;
  padding: 10px;
  color: #fff;

}

/*page*/
@mixin pg_align() {
  max-width: 1140px;
  margin: 0 auto;
  position: relative;
  background-color: #fff;
}

@mixin pg_title () {
  text-align: center;
  color: #000;
  //&::after {
  //  content: ' ';
  //  background: linear-gradient(90deg, $main_color_green 0%, $main_color_dark 100%);
  //  width: 7rem;
  //  margin: 1rem auto 4rem;
  //  display: block;
  //  height: 3px;
  //}
}
.pg-inner-title {
  line-height: 1.4;
  font-weight: bold;
  margin-bottom: 3rem;
  font-size: 1rem;
  letter-spacing: 5px;
}

.pg-summary {
  display: block;
  font-size: 1.125rem;
  width: 90%;
  max-width: 700px;
  color: $main_color_dark;
  margin: 2rem auto 0;
  position: relative;
  text-align: center;
  word-spacing: 5px;
  letter-spacing: 2px;
  line-height: 2;
  font-weight: bold;
}
.pg-desc {
  color: rgba(0,0,0,.84);
  font-size: 0.875rem;
  margin: 2rem auto 0;
  line-height: 1.8;
  text-align: center;
  width: 90%;
  max-width: 700px;
}

.pg-inner-group {
  margin-bottom: 8rem;
}

@include mq-desktop {
  .app-page {
    width: 100%;
    padding-bottom: 24vh;
  }
  .pg-align {
    @include pg_align();
    padding: 12vh 4rem 10vh;

    &.layout-apart {
      box-shadow: 0 15px 35px rgba(50,50,93,.07), 0 5px 15px rgba(0,0,0,.1), inset 0 10px 20px rgba(0,0,0,.05);
    }
  }
  .pg-title {
    @include pg_title();
    line-height: 1.2;
    font-size: 3rem;
  }

  .pg-title + .pg-desc {
    margin-top: 4rem;
  }

  .pg-inner-body {
    margin-top: 5rem;
  }
  .pg-inner-title {
    text-align: center;
  }

}

@include mq-tab {
  .app-page {
    width: 100%;
  }
  .app-logo img {
    height: 40px;
  }
  .m-br {
    display: block
  }

  .pg-align {
    @include pg_align();
    padding: 4rem 2.5rem 3rem;

    @include mq-mobile {
      .pg-align {
        padding: 3rem 2rem 3rem;
      }
    }
    &.layout-apart {
      &::after {
        opacity: 0.3;
        content: ' ';
        background: linear-gradient(90deg, $main_color_green 0%, $main_color_dark 100%);;
        display: block;
        position: absolute;
        width: 80%;
        height: 1px;
        bottom: 0;
        left: 10%;
      }
    }
  }
  .app-pad {
    padding: 0 #{$app_mobile_padding};
  }

  .pg-title {
    @include pg_title();
    font-size: mb-rem(50);
    line-height: 1;
  }

  .pg-inner-body {
    margin-top: 34px;
  }

}
